<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first" color="primary"></ion-menu-button>
        </ion-buttons>

        <!-- <ion-buttons slot="start">
            <ion-button (click)="mostrarMenu()" color="primary">
                <ion-icon slot="start" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons> -->

        <ion-title color="primary">Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
